.marquee-container {
    display: flex;
    overflow: hidden;
    padding: 1rem 0;
    gap: var(--gap);
    --duration: 40s;
    --gap: 1rem;
    user-select: none;
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.marquee-container.vertical {
    flex-direction: column;
    height: 100%; /* Needed for vertical marquee usually */
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
}

.marquee-content.row {
    flex-direction: row;
}

.marquee-content.column {
    flex-direction: column;
}

.animate-marquee {
    animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
}

.marquee-content.reverse {
    animation-direction: reverse;
}

.marquee-container:hover .marquee-content.pause-on-hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}
